<div class="container">
  <br>
  <h4>Personal Information</h4>
  <div class="col-sm-12 custom-margin">
    <div class="d-flex">
      <div class="col-sm-5">
        <label for="uname">First Name</label><br>
        <input type="text" class="form-control mt-1 input-left" placeholder="Eg. john">
      </div>

      <br>
      <div class="col-sm-4">
        <label for="uname">Last Name</label><br>
        <input type="text" class="form-control mt-1 right-input" placeholder="Eg. Doe">
      </div>

    </div>
    <br>

    <div class="d-flex">
      <div class="col-sm-5">
        <label for="uname">Mobile Number</label><br>
        <input type="text" class="form-control mt-1 input-left" placeholder="Eg. 9988776655">
      </div>
      <br>
      <div class="col-sm-4 ">
        <label for="uname">Email Id</label><br>
        <input type="text" class="form-control mt-1 right-input" placeholder="Eg. jd2@gmailcom">

      </div>
    </div>

    <div class="col-sm-2"></div>
  </div>
  <br>


  <h4>Business Information</h4>
  <div class="col-sm-12 custom-margin">
    <div class="d-flex">
      <div class="col-sm-5">
        <label for="uname">Store Name</label><br>
        <input type="text" class="form-control mt-1 input-left" placeholder="Eg. Vijay lakshmi trade ">
      </div>
      <br>
      <div class="col-sm-4">
        <label for="uname">Register Store Name</label><br>
        <input type="text" class="form-control mt-1 right-input" placeholder="Eg. Vijay Tarade">
      </div>
    </div>
    <br>
    <div class="d-flex">
      <div class="col-sm-5">
        <label for="uname">GST Number</label><br>
        <input type="text" class="form-control mt-1 input-left" placeholder="Recipient's username">
      </div>
      <br>
      <div class="col-sm-4 ">
        <label for="uname">Address</label><br>
        <input type="text" class="form-control mt-1 right-input" placeholder="Recipient's username">
      </div>
    </div>
    <br>
    <div class="d-flex">
      <div class="col-sm-5">
        <label for="uname">Area</label><br>
        <select class="form-control mt-1 input-left" aria-label="">
          <option value="1">Select Area</option>
          <option value="2">Active</option>
          <option value="3">Inactive</option>
        </select>
      </div>
      <br>
      <div class="col-sm-4 ">
        <label for="uname">City</label><br>
        <select class="form-control mt-1 right-input" aria-label="">
          <option value="1">Select City</option>
          <option value="2">Active</option>
          <option value="3">Inactive</option>
        </select>
      </div>
    </div>
    <br>
    <div class="d-flex">
      <div class="col-sm-5">
        <label for="uname">State</label><br>
        <select class="form-control mt-1 input-left" aria-label="">
          <option value="1">Select state</option>
          <option value="2">Active</option>
          <option value="3">Inactive</option>
        </select>
      </div>
      <br>
      <div class="col-sm-4 ">
        <label for="uname">Pincode</label><br>
        <select class="form-control mt-1 right-input" aria-label="">
          <option value="1">Select Pincode</option>
          <option value="2">Active</option>
          <option value="3">Inactive</option>
        </select>
      </div>
    </div>
    <br>
    <div class="col-sm-9">
      <label for="uname">Location</label><br>
      <input type="text" class="form-control mt-1 location-input" placeholder="Enter Location"
        aria-label="Recipient's username" aria-describedby="basic-addon2">
    </div>
    <br>
    <div class="col-sm-9">
      <input type="text" class="form-control mt-1 location-input-second">
    </div>
    <div class="d-flex mt-4">
      <div class="">
        <h5 for="uname" class="">Near by Pincode</h5>
      </div>
      <div class="col-sm-3 text-align-center">
        <div class="mt-1">
          <input type="checkbox" class="form-check-input " id="exampleCheck1">&nbsp;&nbsp;&nbsp;
          <label>5100018</label>

        </div>
        <div class="mt-1">
          <input type="checkbox" class="form-check-input " id="exampleCheck1">&nbsp;&nbsp;&nbsp;
          <label>5100018</label>
        </div>
        <div class="mt-1">
          <input type="checkbox" class="form-check-input " id="exampleCheck1">&nbsp;&nbsp;&nbsp;
          <label>5100018</label>
        </div>
        <div class="mt-1">
          <input type="checkbox" class="form-check-input " id="exampleCheck1">&nbsp;&nbsp;&nbsp;
          <label>5100018</label>
        </div>
      </div>
    </div>
    <br>


    <h4>Permission</h4>
    <div class="col-sm-12 custom-margin">
      <div class="d-flex mt-6">
        <div class=" col-sm-1">
          <label for="uname">Category</label><br>
        </div>
        <div class="col-sm-4">
          <div class="d-flex mt-1 justify-content-between ">
            <input type="checkbox" class="form-check-input " id="exampleCheck1">&nbsp;&nbsp;&nbsp;
            <label>Rice</label>&nbsp;&nbsp;&nbsp;
            <h5 class="text-primary">View-Sub-Categories</h5>
          </div>


          <div class="d-flex mt-1 justify-content-between ">
            <input type="checkbox" class="form-check-input " id="exampleCheck1">&nbsp;&nbsp;&nbsp;
            <label>Edible Oil & Ghee</label>&nbsp;&nbsp;&nbsp;
            <h5 class="text-primary">View-Sub-Categories</h5>
          </div>


          <div class="d-flex mt-1 justify-content-between  ">
            <input type="checkbox" class="form-check-input " id="exampleCheck1">&nbsp;&nbsp;&nbsp;
            <label>Pulses and Grians</label>&nbsp;&nbsp;&nbsp;
            <h5 class="text-primary">View-Sub-Categories</h5>
          </div>


          <div class="d-flex mt-1 justify-content-between  ">
            <input type="checkbox" class="form-check-input " id="exampleCheck1">&nbsp;&nbsp;&nbsp;
            <label>Flours and Maida</label>&nbsp;&nbsp;&nbsp;
            <h5 class="text-primary">View-Sub-Categories</h5>
          </div>


          <div class="d-flex mt-1 justify-content-between ">
            <input type="checkbox" class="form-check-input " id="exampleCheck1">&nbsp;&nbsp;&nbsp;
            <label>Spices</label>&nbsp;&nbsp;&nbsp;
            <h5 class="text-primary">View-Sub-Categories</h5>
          </div>


          <div class="d-flex mt-1 justify-content-between  ">
            <input type="checkbox" class="form-check-input " id="exampleCheck1">&nbsp;&nbsp;&nbsp;
            <label>Dry Fruits</label>&nbsp;&nbsp;&nbsp;
            <h5 class="text-primary">View-Sub-Categories</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="col-sm-4 text-center">
    <button type="button" class="btn btn-secondary">Cancel</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-primary">Submit</button>
  </div>
</div>